/* Empty. Add your own CSS if you like */
.dollar{
    color:red;
}
.def-tittle{
    color:white;
}
.danger{
    color:orange;
}
a{
	 text-decoration:none;
	}
.slides {
  height: 200px;
  margin: 0 auto;
  width: 100%;
}

.box img {
  height: auto;
  width: 100%;
}

.success{
  color:green;
}
.basetext{
  font-weight:bolder;
}
